<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5"
 xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
 http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
 
  <servlet>
       <description>This is the description of my J2EE component</description>
       <display-name>This is the display name of my J2EE component</display-name>
         <servlet-name>CheckAccount</servlet-name>
       <servlet-class>com.ht.servlet.CheckAccount</servlet-class>
     </servlet>

     <servlet-mapping>
       <servlet-name>CheckAccount</servlet-name>
       <url-pattern>/login1</url-pattern>
     </servlet-mapping>
     
     <servlet>
      <description>This is the description of my J2EE component</description>
      <display-name>This is the display name of my J2EE component</display-name>
     <servlet-name>Search</servlet-name>
       <servlet-class>com.ht.servlet.Search</servlet-class>
     </servlet>

     <servlet-mapping>
       <servlet-name>Search</servlet-name>
       <url-pattern>/search</url-pattern>
     </servlet-mapping>
     
     
        <servlet>
      <description>This is the description of my J2EE component</description>
      <display-name>This is the display name of my J2EE component</display-name>
     <servlet-name>Book1</servlet-name>
       <servlet-class>com.ht.servlet.Book1</servlet-class>
     </servlet>

     <servlet-mapping>
       <servlet-name>Book1</servlet-name>
       <url-pattern>/Book1</url-pattern>
     </servlet-mapping>
     
             <servlet>
      <description>This is the description of my J2EE component</description>
      <display-name>This is the display name of my J2EE component</display-name>
     <servlet-name>Book2</servlet-name>
       <servlet-class>com.ht.servlet.Book2</servlet-class>
     </servlet>

     <servlet-mapping>
       <servlet-name>Book2</servlet-name>
       <url-pattern>/Book2</url-pattern>
     </servlet-mapping>
   

 
</web-app>